.DS_*
*.log
**/*.backup.*
**/*.back.*

node_modules
bower_components

/webapp/frontend/
/bench/
/initial-data/
/webapp/mysql/db/1_DummyEstateData.sql
/webapp/mysql/db/2_DummyChairData.sql
/webapp/deno
/webapp/ruby
/webapp/go/go.sum